.header {
  text-align: left;
  margin-bottom: 0rem;

}

.subtitle {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

.about-me {
  text-align: center;
  margin-bottom: 0rem;
}

.contact {
  text-align: left;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

}

.projects {
  text-align: left;
  margin-bottom: 2rem;
  display: grid;
  gap: 1rem;
}

.project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

ul {
  list-style-type: none;
  padding: 0; /* Removes default indent */
  margin: 0;  /* Removes default spacing */
}
