.header {
  text-align: left;
  margin-bottom: 0rem;

}

.subtitle {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

.about-me {
  text-align: center;
  margin-bottom: 0px;
}

.about-me h2 {
  font-weight:bold;
  font-size: clamp(16px, 2vw, 24px);
}

.about-me p {
  font-size: clamp(14px, 1.5vw, 16px);
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 0px;
}

.contact {
  text-align: left;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

}

.projects {
  text-align: center; 
  margin-bottom: 2rem;
  display: grid;
  gap: 1rem;
}

.project {
  display: grid;
  justify-items: stretch;
  align-items: center;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

@media (max-width: 800px) {
  .project {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 400px) {
  .project {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  }
}

ul {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
}

.fa-github, .fa-linkedin {
  font-size: clamp(18px, 2vw, 28px);
  color: #333333;
  transition: color 0.3s ease;
  margin-left: 1px;
}
