.header {
  text-align: left;
  margin-bottom: 0rem;

}

.subtitle {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

.about-me {
  text-align: center;
  margin-bottom: 3rem;
}

.contact {
  text-align: left;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

}

.projects {
  text-align: center; 
  margin-bottom: 2rem;
  display: grid;
  gap: 1rem;
}

.project {
  display: grid;
  justify-items: stretch;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, .5fr);
  gap: 20px;
  margin: auto;

}

ul {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
}

.fa-github, .fa-linkedin {
  font-size: 24px;
  color: #333333;
  transition: color 0.3s ease;
  margin-left: 1px;
}
